* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}

body {	
	background: #ffffff;
	min-width: 1160px;
	font-size: 15px;
	color: #000;
	font-weight: normal;
	font-family: "OpenSans", Arial, sans-serif;
	line-height: 20px;	
	overflow-x: hidden;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;	
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 40px;
	background: #fff;
}

.header {	
	padding-right: 60px;
	padding-left: 58px;	
	padding-bottom: 165px;
	padding-top: 1px;
	background: #f7e296;
}

.header.catalog {
	padding-bottom: 50px;
	margin-bottom: 38px;
}

.logo a{
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;	
	font-size: 48px;
	color: #000;
	text-decoration: none;	
}

.logo.top {
	margin-top: -10px;
	margin-bottom: 13px;	
}

.logo.top.catalog:hover {
	opacity: 0.6;
}

.logo.top.catalog:active {
	opacity: 0.3;
}

.logo.bottom {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	color: #ffc600;
	line-height: 48px;
	font-size: 48px;
}

.catalog .logo.bottom:hover {
	opacity: 0.6;
}

.catalog .logo.bottom:active {
	opacity: 0.3;
}


.navigation-top {
	display: flex;	
	justify-content: flex-start;
	margin-bottom: 30px;
	line-height: 36px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.navigation a {
	text-decoration: none;
	color: inherit;
}

.form-search {
	font-size: 0;
}

.form-search-field, 
.form-submit {
	font-family: inherit;	
	color: inherit;			
	padding: 5px;
	background: #f7e296;
	font-size: 15px;
	line-height: 36px;
}

.form-search-field {		
	position: relative;
	width: 355px;	
	padding-left: 40px; 	
	border: none;
	height: 48px;
	border-bottom: 2px solid #f7e296;
	margin-right: 0;	
	background-image: url("../img/sprite.png");		
	background-repeat: no-repeat;
 	background-position: -5px -290px;
}

.form-search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	opacity: 0.3;  
}
.form-search-field::-moz-placeholder { /* Firefox 19+ */
  	opacity: 0.3;
}
.form-search-field:-ms-input-placeholder { /* IE 10+ */
  	opacity: 0.3;  	
}
.form-search-field:-moz-placeholder { /* Firefox 18- */
  	opacity: 0.3;
}

.form-search-field:hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	opacity: 0.6;
}
.form-search-field:hover::-moz-placeholder { /* Firefox 19+ */
  	opacity: 0.6;
}
.form-search-field:hover:-ms-input-placeholder { /* IE 10+ */
  	opacity: 0.6;
}
.form-search-field:hover:-moz-placeholder { /* Firefox 18- */
  	opacity: 0.6;
}

.form-search-field:focus {
	outline: none;
	border-bottom: 2px solid black;
} 

.form-submit {
	align-items: center;
	width: 80px;		
	margin-left: 0;	
	padding: 5px;	
	border: 2px solid black;	
	visibility: hidden;
}

.form-search-field:focus + .form-submit {
	visibility: visible;	
}

.form-submit:hover {
	background: #000;
	color: #fff;
}

.form-submit:active {
	visibility: visible;
	background: #000;
	color: #4d4d4d;	
	outline: none;
}

.user-info {
	position: relative;			
	margin-left: 105px;	
	padding-top: 6px;
	padding-left: 27px;
}

.user-info.entrance {
	width: 260px;
	margin-right: 20px;	
}

.user-info.profile {
	width: 180px;
}

.user-info-exit {
	padding-top: 6px;
	width: 100px;
	opacity: 0.3;
}

.user-info::before {
	position: absolute;
	content: "";	
  	height: 15px;
  	width: 15px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -9px -428px;  	
	top:50%;
	margin-top: -10px;
	left: 0;	
}

.compare {	
	position: relative;	
	width: 100px;	
	padding-top: 6px;	
	padding-left: 28px;
}

.compare::before {
	position: absolute;
	content: "";	
  	height: 15px;
  	width: 15px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -10px -100px;  	
	top:50%;
	margin-top: -10px;
	left: 8px;
}

.basket {
	position: relative;			
	width: 100px;		
	margin-left: 20px;		
	padding: 6px 0 0 42px;
}

.basket::before {
	position: absolute;
	content: "";	
  	height: 15px;
  	width: 15px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -10px -40px;  	
	top:50%;
	margin-top: -10px;
	left: 18px;
}

.logo-top.secondary:hover,
.user-info:hover,
.compare:hover,
.basket:hover {
	opacity: 0.6;
}

.logo-top.secondary:active,
.user-info:active,
.compare:active,
.basket:active {
	opacity: 0.3;
}

.navigation-bottom {
	display: flex;
	justify-content: flex-start;

	font-size: 18px;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 3.7px;
	text-transform: uppercase;
}

.drop-down-menu {
	position: relative;
	width: 540px;	
	cursor: pointer;
}

.drop-down-opener {
	position: absolute;
	top: 0px;
	left: 230px;	
	width: 16px;
	height: 16px;
}

.drop-down-opener::after,
.drop-down-opener::before {
	content: "";
  	position: absolute;
	opacity: 0.5;
	width: 16px;
	height: 2px;
	background-color: #000000;
	top: 8px;
	left: 0;
}

.drop-down-opener::before {
  transform: rotate(90deg);
}

.delivery {
	width: 160px;	
}

.warranty {
	width: 140px;
	margin-right: 80px; 
}

.contacts{
	width: 120px;	
}

.drop-down-title:hover,
.delivery:hover,
.warranty:hover,
.contacts:hover {
	opacity: 0.6;	
}

.drop-down-opener:hover {
	opacity: 0.2;
}

.drop-down-title:active,
.delivery:active,
.warranty:active,
.contacts:active {
	opacity: 0.3;
}
.drop-down-opener:active {
	opacity: 0.1;
}

.drop-down-content {	
	position: absolute;
	display: none;
	width: 1160px;		
	left: -58px;	
	padding-top: 30px;
	padding-bottom: 27px;
	padding-left: 60px;
	cursor: pointer;	
	color: #000000;
	font-weight: normal;
	font-family: "OpenSans", Arial, sans-serif;
	line-height: 36px;	
	font-size: 15px;
	background: #f7e296;
	text-transform: none;
	letter-spacing: normal;	
	z-index: 20;	
}

.drop-down-content li {
	list-style: none;
}	

.drop-down-menu:hover .drop-down-content,
.drop-down-opener:hover .drop-down-content {
	display: flex;
} 

.drop-down-menu:active .drop-down-content,
.drop-down-opener:active .drop-down-content  {	
	display: flex;
} 

.drop-down-menu .drop-down-item:hover {
	opacity: 0.6;
}

.drop-down-menu .drop-down-item:active {
	opacity: 0.3;
}

.drop-down-list.left {
	width: 200px;
	margin-right: 40px;
}

.drop-down-list.middle {
	width: 200px;
	margin-right: 40px;
}

.drop-down-list.right {
	width: 200px;
	margin-right: 40px;
}

.slider {	
	position: relative;	
	margin-top: -110px;
	min-height: 486px;
	margin-bottom: 105px;
}

.slider-slide {	
	width: 100%;	
	display: none;
	padding-left: 600px;
	padding-right: 55px;
	position: absolute;	

}

#slider-btn-1:checked ~ .slider-slides .slider-slide:nth-child(1) {
	display: block; 
}

#slider-btn-2:checked ~ .slider-slides .slider-slide:nth-child(2) {
	display: block; 
}

#slider-btn-3:checked ~ .slider-slides .slider-slide:nth-child(3) {
	display: block; 
}

.slider > input[type="radio"] {
	display: none;
}

.slider-controls {
    position: absolute;
    bottom: 145px;
    right: 60px;
    width: 80px;
    height: 10px;   
    z-index:1000;
}

.slider-controls label {
    display:inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;    
    border: 2px solid #000;
    opacity: 0.3;
    border-radius:50%;
    cursor:pointer;
}

.slider-controls label:last-of-type {
	margin-right: 0;
}

/*.slider-controls:hover {
	opacity: 0.4;
}*/
.slider-controls label[for="slider-btn-1"]:hover,
.slider-controls label[for="slider-btn-2"]:hover,
.slider-controls label[for="slider-btn-3"]:hover { 
    opacity: 0.4;
}

.slider-controls label[for="slider-btn-1"]:active,
.slider-controls label[for="slider-btn-2"]:active,
.slider-controls label[for="slider-btn-3"]:active { 
    opacity: 1;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-controls label[for="slider-btn-3"] { 
    opacity: 1;
}

.slider-image {	
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
}

.slider-image img {	
	display: block;
	margin: 0 auto;	
}

.slide:nth-child(3) .slider-image img {		
	margin-top: 60px;	
}

.slider-content {	
	position: relative;	
	width: 510px;
	text-align: left;
}

.slider-content::before {
	content: "";
	position: absolute;
	top: -40px;
	width: 100px;
	height: 7px;
	background-color: #fff;
}

.slider-number {
	position: absolute;
	top: -70px;
	right: 0px;	
	font-size: 179px;
	color: #fff;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	line-height: 0.8;	
	z-index: 1;
}

.product-slogan {
	position: relative;
	margin-top: 75px;	
	margin-bottom: 25px;
	font-size: 47px;
	color: #000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	line-height: 1.2;	
	z-index: 20;

}

.product-specification {	
	margin-bottom: 45px;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	line-height: 30px;

}

.btn {
	display: inline-block;	
	position: relative;
	font-size: 18px;
	color: #000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
	text-align: center;	
	letter-spacing: 3px;
	z-index: 1;  
	border: none;
	text-decoration: none;
	background-color: transparent; 
	cursor: pointer;  
}

.btn::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: 0.3s linear;
	border: none;
}

.btn:hover::before {
	height: 100%;  
}

.btn:active span {
	opacity: 0.3;
}

.slider-controls-line .btn {
	width: auto;
	padding: 0 45px 0 45px;
	margin-bottom: 60px;
}

.feature {
	display: flex;
	justify-content: flex-start;	
}

.feature-name {
	font-family: inherit;
	font-size: 13px;
	font-weight: inherit; 
}

.feature-value {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 12px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 36px;
}

.feature-value-1 {
	width: 160px;	
}

.feature-value-2 {
	width: 140px;	
}

.feature-value-3 {
	width: 180px;	
}

.feature-name {
	display: flex;
	justify-content: flex-start;
	
	font-family: inherit;
	font-weight: inherit;
	font-size: 13px;
	line-height: 20px;
}

.feature-name-1 {
	width: 160px;	
}

.feature-name-2 {
	width: 140px;	
}

.feature-name-3 {
	width: 180px;	
}
/*

.sliders > input + label {	
    display: inline-block;    
    width: 10px;
    height: 10px;
    border: 3px solid #000;
    border-radius: 50%;    
    opacity: 0.3;
    cursor: pointer;
    z-index: 10;
    position: relative;
    margin-right: 20px;
    left: 1000px;
    top: 320px;
}

.sliders > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
}

.sliders > input + label:hover {
	opacity: 0.4;
}

.sliders > input:checked + label{
    opacity: 1;
}





*/
.product-section-list {
	display: flex;
	justify-content: space-between;	
	list-style: none;
	margin-bottom: 185px;	
}

.product-section-item a {	
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.product-section-img {	
	display: flex;	
	justify-content: center;
	align-items: center;
	background: #f7e296;	
	width: 160px;
	height: 160px;
	margin-bottom: 35px;	
}	

.product-section-img.bottom {
	align-items: flex-end;
	padding-bottom: -20px;			
}

.product-section-title {
	display: block;
	width: 160px;	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
}

.product-section-item:hover .product-section-img {
	background: #f0c52e;
	transition: 0.3s;
}

.product-section-item:active span {
	display: block;
	opacity: 0.3;
}

.partners-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 88px;
	list-style: none;	
}

.partners-item:hover .partners-item-1 img,
.partners-item:hover .partners-item-2 img,
.partners-item:hover .partners-item-3 img,
.partners-item:hover .partners-item-4 img {
	visibility: hidden;
}

.partners-item .partners-item-1 div {
	background: url("../img/logo-1color.jpg");
}
.partners-item .partners-item-2 div {
	background: url("../img/logo-2color.jpg");
}
.partners-item .partners-item-3 div {
	background: url("../img/logo-3color.jpg");
}
.partners-item .partners-item-4 div {
	background: url("../img/logo-4color.jpg");
}

.slider2 {	
	display: flex;
	justify-content: space-between;	
	position: relative;
	min-height: 288px;
	background: url("../img/background-slider2.jpg") repeat;	
	margin-left: -9999px;
	margin-right: -9999px;
	margin-bottom: 95px;
	padding-left: 9999px;
	padding-right: 9999px;  
}

.slider2-controls label {
	position: relative;
	min-width: 160px;	
	margin-bottom: 30px;
	cursor: pointer;

	font-size: 18px;
	color: #000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
	text-align: center;	
	letter-spacing: 3px;
	z-index: 1;  
	border: none;
	text-decoration: none;
	background-color: transparent; 
}

.slider2-control::before {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: 0.3s linear;
	border: none;
}

.slider2-control:hover::before {
	height: 100%;  
}

.slider2 > input[type="radio"] {
	display: none;
}
.slider2-controls {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 300px;
	margin-top: -20px;
	align-items: flex-start;
}

.slider2-controls::after {		/*Вертикальная линия*/
	content: "";
	position: absolute;
	top: -80px;
	left: 278px;
	width: 7px;
	height: 320px;
	background: #000;
}		

label[for="slider2-btn-1"] .slider2-control:active::before,
label[for="slider2-btn-2"] .slider2-control:active::before,
label[for="slider2-btn-3"] .slider2-control:active::before {
	width: 176%;  
	height: 100%;
	background-color: #000; 
}

label[for="slider2-btn-1"] .slider2-control:active,
label[for="slider2-btn-2"] .slider2-control:active,
label[for="slider2-btn-3"] .slider2-control:active {
	color: #f7e184;
}

#slider2-btn-1:checked ~ .slider2-controls label[for="slider2-btn-1"] .slider2-control::before,
#slider2-btn-2:checked ~ .slider2-controls label[for="slider2-btn-2"] .slider2-control::before,
#slider2-btn-3:checked ~ .slider2-controls label[for="slider2-btn-3"] .slider2-control::before {
	width: 176%;  
	height: 100%;
	background-color: #000; 
} 
#slider2-btn-1:checked ~ .slider2-controls label[for="slider2-btn-1"],
#slider2-btn-2:checked ~ .slider2-controls label[for="slider2-btn-2"],
#slider2-btn-3:checked ~ .slider2-controls label[for="slider2-btn-3"] {
	color: #f7e184;
}

.slider2-slides {
	position: relative;	
	width: 760px;	
	margin-top: -18px;	
}	

.slider2-slide {
	position: absolute;
	text-align: left;
	line-height: 30px;
	padding-right: 320px;
	left: 0;
	top: 0;	
}

.slider2-slide {
	display: none;
}

#slider2-btn-1:checked ~ .slider2-slides .slider2-slide:nth-child(1) {
	display: block; 
}

#slider2-btn-2:checked ~ .slider2-slides .slider2-slide:nth-child(2) {
	display: block; 
}

#slider2-btn-3:checked ~ .slider2-slides .slider2-slide:nth-child(3) {
	display: block; 
}

.slider2-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
	margin-bottom: 40px;	
}

.slider2-description {	
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;	
}

.slider2-slide::after {
	content: "";
	position: absolute;
	width: 180px;
	height: 210px;
	top: 0;
	right: 0;			
}

.slider2-slide:nth-child(1)::after {
	background: url("../img/delivery.png") no-repeat;
}

.slider2-slide:nth-child(2)::after {	
	background: url("../img/warranty.png") no-repeat;		
}

.slider2-slide:nth-child(3)::after {	
	background: url("../img/credit.png") no-repeat;		
}


.info {
	display: flex;
	justify-content: space-between;
}

.info-left {
	position: relative;
	width: 500px;
	padding-top: 65px;	
}
.info-left::before,
.info-right::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 8px;
	background-color: #000;
}
.info-right {
	position: relative;
	width: 560px;
	padding-top: 65px;	
}
 
.info h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: bold;
	text-align: left; 
	margin-bottom: 60px;
}

.info p {
	font-size: 15px;
	color: #000;
	font-family: inherit;
	font-weight: inherit;
	line-height: 30px;
	margin-bottom: 30px;
}

.info-left p:last-of-type {
	margin-bottom: 75px;
}

.info-right p:last-of-type {
	margin-bottom: 40px;

}

.transport-line li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 35px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 15px;
	font-weight: bold;			
	list-style: none;
}

.transport-line li::before {
	position: absolute;	
	content: "";	
	top: 50%;
	margin-top: -5px;
	left: 0;

	width: 4px;
    height: 4px;
    border: 3px solid #000;
    border-radius: 50%;    
    opacity: 0.3;	
}

.transport-line {
	margin-bottom: 65px;
}

.map {
	margin-bottom: 62px;
}



.info .btn {
	min-width: 260px;
}

.footer {
	background: url("../img/background-footer.jpg") repeat;
	width: 100%;	
}

.footer.container {
	width: 1200px;
	margin: 0 auto;
	padding-top: 57px;
	padding-bottom: 65px;
}

.footer a {
	color: #fff;
	text-decoration: none;
	list-style-type: none;
}

.footer.index {
	margin-top: 85px;	
}

.footer-first-line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;
}

.footer-second-line {
	display: flex;
	justify-content: space-between;
	margin-bottom: 65px;
	color: #fff;
}

.footer-bottom {
	display: flex;
	justify-content: flex-end;	
	position: relative;
}

.footer-navigation-list-part2 {	
	display: flex;	
	justify-content: space-between;
	align-items: center;
	min-width: 458px;	
	padding-right: 33px;
	color: #fff;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 4px;	
}

.footer-navigation-list-part2 .footer-navigation-item:hover {
	opacity: 0.6;
}

.footer-navigation-list-part2 .footer-navigation-item:active {
	opacity: 0.3;
}

.footer-navigation-list-part1 {
	display: flex;
	position: relative;
	line-height: 48px;	
	
}
.footer-navigation-list-part1 .footer-navigation-item {

	opacity: 0.7;
}

.footer-navigation-list-part1 .footer-navigation-item:hover {
	opacity: 1;
}

.footer-navigation-list-part1 .footer-navigation-item:active {
	opacity: 0.3;
}

.footer-navigation-item.enter_f {	
	position: relative;
	width: 115px;
	padding-left: 27px;
	
}

.footer-navigation-item.compare_f {
	position: relative;	
	width: 130px;
	padding-left: 20px;
		
}

.footer-navigation-item.basket_f {	
	position: relative;
	width: 85px;
	padding-left: 25px;	
	text-align: left;
		
}

.footer-navigation-item.enter_f::before {
	position: absolute;
	content: "";
	width: 14px;
	height: 12px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position:  -10px -398px; 
	top: 18px;
	left: 0px;
}

.footer-navigation-item.compare_f::before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -10px -74px;
	top: 18px;
	left: 0px;
}
.footer-navigation-item.basket_f::before {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position: -10px -10px;
	top: 18px;
	left: 0px;
}

.footer-bottom::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 7px;
	background-color: #ffc600;
	top: 15px; 
	left: 0;
}



.social {
	display: flex;
	justify-content: space-between;	
	width: 152px;	
	margin-right: 41%;
}

.social-btn {
	background: url("../img/social.png") no-repeat; 
	opacity: 0.7;	
}

.social-btn:not(:last-child) {
	margin-right: 18px;
}

.social-btn.tw {
	width: 40px;
    height: 40px;
    background-position: -20px -176px;

}

.social-btn.fb {
	width: 40px;
    height: 40px;
    background-position: -20px -20px;
}

.social-btn.ins {
	width: 40px;
    height: 40px;
    background-position: -20px -98px;
}

.social-btn:hover {
	opacity: 1;
} 

.social-btn:active {
	opacity: 0.3;
} 


.modal-content-write-us {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -480px; 
	margin-top: -275px;
	width: 960px;
	height: 550px;
	padding: 100px;
	padding-bottom: 75px; 
	z-index: 100;
	background-color: #fff;	
	box-shadow: 0 10px 50px #a6a7a7;	
}

.modal-content-close {
	position: absolute;
	width: 55px;
	height: 55px;
	right: 20px;
	top: 20px;
	background-color: #f0c52e;
	opacity: 0.5;
	border: 0;
	font-size: 0;
	border-radius: 50%;	
	cursor: pointer; 
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	right: 12px;
	width: 32px;
	height: 2px;
	background-color: #fff; 
	border-radius: 1px;
}


.logo-academy:hover {
	opacity: 0.6;
}

.logo-academy:active {
	opacity: 0.3;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content-close:hover {
	opacity: 1;
}

.modal-content-close:active::before{
	background-color: #f5d76d;
}

.modal-content-close:active::after{
	background-color: #f5d76d;
}


.email-form label {	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	color: #000;
	font-weight: bold;	
}

.email label,
.email-text label,
.user-name label {
	display: block;
	margin-bottom: 13px;
}

.email-form input {
	display: block;
	background: #f2f2f2;
	padding: 21px;
	border: none;
	width: 360px;
}

.email-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;	
}


.email-text textarea {
	width: 100%;
	min-height: 160px;
	padding: 21px;
	vertical-align: top;
	margin-bottom: 45px;
	background: #f2f2f2;
	border: none;	
}

.email-form .btn {
	padding-left: 35px;
	padding-right: 35px;
}

.email-form input:hover,
.email-form textarea:hover {
	background: #ebebeb;
}

.email-form textarea:focus,
.email-form input:focus,
.email-form textarea:active,
.email-form input:active {
	background: #fff;
	padding-top: 19px;
	padding-bottom: 19px;
	border: 2px solid #f7e296;
}

.modal-error{
	background: #f6dada !important;
}

.modal-content-map {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -280px;
	margin-left: -480px;
	z-index: 100;
	width: 960px;
	height: 560px;
	background-image: url("../img/map-big.jpg");
	box-shadow: 0 10px 50px #a6a7a7;
}

.modal-content-open {
	display: block;
}


/*CATALOG -DEVICE*/
.main-catalog {	
	padding-left: 58px;	
}

.page-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 47px;
	line-height: 47px;
	margin-bottom: 27px;
	letter-spacing: 0.7px;	
}

.monopod-breadcrumbs {
	margin-bottom: 48px;
}

.monopod-breadcrumbs li {
	position: relative;
	display: inline-block;		
	margin-right: 30px;		
	color: #000;	
	text-decoration: none;
} 

.monopod-breadcrumbs a {		
	color: #000;
	opacity: 0.3;
	text-decoration: none;
} 

.monopod-breadcrumbs a:hover {	
	opacity: 0.6;	
} 

.monopod-breadcrumbs a:active {	
	opacity: 0.1;
	
} 

.monopod-breadcrumbs li:not(:last-of-type):after {
	content: "";
	position: absolute;
	bottom: 5px;
	right: -20px;	
	width: 1px;
	height: 5px;
	background-color: #000;
	transform: rotate(45deg);
}	

.monopod-breadcrumbs li:not(:last-of-type):before {
	content: "";
	position: absolute;	
	top: 7px;
	right: -20px;
	width: 1px;
	height: 5px;	
	background-color: #000;
	transform: rotate(-45deg);
}	

.filter {
	display: flex;
	justify-content: space-between;
}


.filter-left {
	width: 270px;
	margin-left: -9999px;
	padding-left: 9999px;
	background-color: #efefef;
	box-sizing: content-box;
}

.filter-head.left {	
	margin-left: -9999px;
	padding-left: 9999px; 	
    background: rgb(220, 220, 220);    
}

.filter-right { 
	width: 835px;
}

.filter-left-content {	
	padding-right: 67px;
}

.filter-head {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 70px;	
}


.filter-head.right {
	display: flex;	
	justify-content: space-between;	
    margin-right: -9999px;
	padding-right: 9999px;  
	background: rgb(235, 235, 235); 
	padding-left: 75px;		
}

.filter-head.right li {
	display: inline-block;	
}

.filter-head.right a {
	text-decoration: none;
	font-size: 14px; 
	color: #000;
	font-family: "OpenSans", Arial, sans-serif;
}

.price-controls {
	margin-bottom: 33px;
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #bebebe;
	line-height: 24px;
	vertical-align: top; 
	cursor: pointer;
}

.price-controls .min-price {
  width: 90px; 
}

.price-controls .max-price {
  width: 110px;  
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.range-controls {
  position: relative;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb; 
}

.range-controls .bar {
  width: 55%;
  height: 2px;
  background: #91c92f;
}

.toggle {
  position: absolute;
  top: -5px;
  width: 14px;
  height: 14px;
  background: #eeeeee;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle.min-toggle {
  left: 0;
}

.toggle.max-toggle {
  left: 55%;
}

.toggle:active {
  border: 3px solid #fff;
  background: #7eae29;
  box-shadow: 0 5px 20px -5px #000000;
}
.filter-type {	
	border-top: 2px solid #000;
	padding-top: 12px;	
}

.filter-type input[type="checkbox"],
.filter-type input[type="radio"] {
	display: none;	
}

.filter-title {
	margin-bottom: 25px;
	color: #000;
	font-family: "Gilroy", "Arial", sans-serif;;
	font-weight: bold;
	font-size: 18px;
}

.filter-title.range {
	margin-bottom: 38px;
} 

.filter-type.color {
	margin-bottom: 30px;
}

.filter-title.color {
	margin-bottom: 20px;
} 

.filter-type.bluetooth {
	margin-bottom: 30px;
}

.filter-type.color label,
.filter-type.bluetooth label {
	position: relative;
	display: block;
	line-height: 40px;	
	font-size: 14px;
	cursor: pointer;
	padding-left: 40px;	
}

.filter-checkbox-indicator  {
	position: absolute;
	height: 23px;
	width: 23px;
	background: #dbdbdb;
	left: 0;
	bottom: 10px;
	z-index: 1;
	display: inline-block;
}

.filter-checkbox-indicator:hover  {
	background: #cecece;
}

.filter-checkbox-indicator:active  {
	background: #c4c4c4;
}


.filter-type.color input[type="checkbox"]:active + .filter-checkbox-indicator::after,
.filter-type.color input[type="checkbox"]:checked + .filter-checkbox-indicator::after {
	content: "";
	position: absolute;
	z-index: 10;
	top: 6px;
    left: 6px;
	width: 8px;
    height: 4px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg); 
}

.filter-radio-indicator  {
	position: absolute;	
	height: 23px;
	width: 23px;
	border: 2px solid #c6c6c6; 
	border-radius: 50%;
	left: 0;
	bottom: 10px;
	z-index: 1;
	display: inline-block;
}

.filter-radio-indicator:hover  {
	border: 2px solid #bcbcbc;
}

.filter-radio-indicator:active  {
	border: 2px solid #acacac;
}
.filter-type.bluetooth input[type="radio"]:active + .filter-radio-indicator::after,
.filter-type.bluetooth input[type="radio"]:checked + .filter-radio-indicator::after {
	content: "";
	position: absolute;
	z-index: 10;
	top: 5px;
    left: 5px;
	width: 5px;
    height: 5px;
    border: 2px solid #000; 
	border-radius: 50%; 
}

.btn.result {
	width: 200px;	
}

.sorting-item.first,
.sorting-item.second {
	width: 80px;
}

.sorting-item.third {
	margin-right: 200px;
}

.sorting-item {
	opacity: 0.3;
}

.sorting-item:hover {
	opacity: 0.6;
}

.sorting-item:active {
	opacity: 1;
}

.order-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
}

.order-item {
	position: relative;
	width: 18px;
	height: 10px;
	opacity: 0.2;
	cursor: pointer;
}

.order-item:hover {
	opacity: 0.4;
}

.order-item:active {
	opacity: 1;
}

.order-item.top:after {
	content: "";
	position: absolute;	
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #000;
}

.order-item.bottom:after {
	content: "";
	position: absolute;	
	width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #000;
}

.pages-list {
	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	margin-bottom: 72px;
	margin-left: 75px;	
}

.filter-head p {
	margin-right: 50px;
}

.filter-head p,
.pages-list a {
	text-decoration: none;
	color: #000;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
	
.selection-pages {
	display: flex;
	justify-content: space-between;
	list-style-type: none;	
	min-width: 94px;
	padding-left: 8px;
	line-height: 70px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;	
	font-size: 16px;

}

.pages-item {	
	opacity: 0.3;	
	cursor: default;
}

.pages-item:not(:last-child) {
	margin-right: 20px;
}

.pages-item:hover {
	opacity: 0.6;
}

.pages-item:active {
	opacity: 1;
}

.pages-list .selection {
	padding: 25px 30px;	
	letter-spacing: 3px;
}

.pages-list .selection:hover,
.pages-list .selection:active {
	background: #d9d9d9;
}

.pages-list .selection:active a {
	opacity: 0.3;	
}

.current,
.current:hover,
.current:active {
	opacity: 1;
	cursor: default;
}


.monopod-articles {		
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 75px;
	cursor: pointer;
}

.monopod-item {
	position: relative;
	margin-bottom: 48px;
}

.monopod-item:last-child {
	margin-bottom: 40px;
}

.monopod-item:hover  .monopod-item-photo{
	opacity: 0.7;
}

.monopod-item:hover .monopod-basket {
	position: absolute;
	display: block;
	top: 175px;
	left: 80px;	
	padding-left: 40px;
 	padding-right: 40px;
}

.monopod-item:hover .monopod-compare {
	position: absolute;
	display: block;
	top: 230px;
	left: 108px;
	display: block;
	color: #000;
	opacity: 0.5;
	text-decoration: none;
}

.monopod-item:hover .monopod-compare:hover {
	opacity: 1;
}

.monopod-item:hover .monopod-compare:active {
	opacity: 0.2;
}

.monopod-basket {
	display: none;
 } 

.monopod-compare {	
	display: none;
	outline: none;
	border: none;
	background: transparent; 
}

.circle-new {
	position: absolute;
	top: 30px;
	right: 25px;
	width: 60px;
	height: 60px;
	background: transparent;
	border: 2px solid #cccccc;
	border-radius: 50%;	
	text-align: center;	
}

.circle-new span {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	font-weight: bold; 
	color:#cccccc;
	line-height: 60px;	
	vertical-align: middle;
	text-transform: uppercase;
}

.monopod-item-info {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;	
	min-height: 40px;	
}

.monopod-link {
	width: 260px;
	text-decoration: none;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: bold; 
	color:#000;	

}

.monopod-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal; 
	color:#a9a9a9;	
}

.